include LICENSE
include README.md
include pypi_doc.txt
include MANIFEST.in
recursive-include watermarker/locale *
recursive-include watermarker/templatetags *
recursive-include watermarker/migrations *
